@import url(Login.css);
section.login .right {
    display: grid;
    grid-template: repeat(2, 100px) 250px repeat(3, 70px)/1fr;
}

section.login .right form {
    height: 250px;
}

section.login .right form>div:nth-child(2)>div p {
    position: absolute;
    width: 100%;
    top: -3px;
    padding: 8px;
    font-size: 17px;
    color: #555;
    font-family: 'Vazir';
}

section.login .right form>div {
    border-bottom: 1px solid #ccc;
}

section.login .right form>div:last-child {
    border-top: 0;
}

section.login .right div:nth-child(5) a:last-child {
    background-color: #409d7e;
    color: #ffffff;
}

section.login .right div:nth-child(5) a:first-child {
    background-color: white;
    color: #409d7e;
    border: 1px solid #409d7e;
}

@media screen and (max-width: 768px) {
    section.login .right form {
        width: 245px;
        height: 200px;
    }
    section.login .right form>div:nth-child(2)>div p {
        top: -3px;
        font-size: 13px;
    }
    section.login .right {
        display: grid;
        grid-template: repeat(2, 100px) 200px repeat(3, 70px)/1fr;
    }
}

@media screen and (max-width: 520px) {
    section.login .right form {
        width: 280px;
        height: 200px;
    }
    section.login .right {
        display: grid;
        grid-template: repeat(2, 100px) 250px repeat(3, 70px)/1fr;
    }
}